#about_me {
    
    .content_about {
        display: flex;
        justify-content: space-evenly;
        background: antiquewhite;
        height: 364px;
        padding: 20px;

        .text_about {
            font-size: 16px;
            text-align: justify;
            width: 50%;
        }

        .cv_button {
            cursor: pointer;
            position: absolute;
            top: 843px;

            :hover {
            //  transform: scale(1);
           // translate: 30px;
              //  text-shadow: 20px;
            }
        }

        .photo_about {
            width: 200px;
            height: 300px;
            object-fit: cover;
            border-radius: 90%;
        }
    }
}