#about_me {

    .content_about {
        display: flex;
        justify-content: space-evenly;
        background: white;
        height: 364px;
        padding: 20px;
        border-radius: 5px;

        .text_about {
            font-size: 16px;
            text-align: justify;
            width: 50%;
            color: darkslategrey;
        }

        .cv_button {
            cursor: pointer;
            position: absolute;
            top: 843px;
            color: white;
            background: #66d9ed;
            border-radius: 6px;
            border: 1px solid transparent;
            font-size: 16px;
            font-weight: 600;
            height: 26px;
        }

        .cv_button:hover {
            box-shadow: 3px 3px 3px aqua;
            background-color: aqua;
            font-size: 18px;
            font-weight: 700;
        }

        .photo_about {
            width: 200px;
            height: 300px;
            object-fit: cover;
            border-radius: 90%;
        }
    }
}