.banner {
    display: flex;
    margin: 20px;
    color: white;

    .img_banner {
        border-radius: 20px;
        position: relative;
        width: 100%;
        height: 270px;
    }

    h2 {
        position: absolute;
    }
}