.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 52px;
    width: 955px;
    z-index: 0;
    opacity: 0;
   transform: translateY(20px);
    animation: card-animation 2s ease-out forwards;

    @media screen and (max-width:767px) {
        width: 300px;
        flex-direction: column;
    row-gap: 20px;
      }

    .card {
        cursor: pointer;
        border-radius: 15px;
        width: 300px;
        height: 185px;
       // background: linear-gradient(45deg, #2c3e50, #66d9ed);
       // background: #316a74;
       background: #262525;
        border: 1px solid white;

        @media screen and (max-width:767px) {
            height: 164px;
          }

        .card_img {
            width: 100%;
            height: 80%;
            border-radius: 15px 15px 0 0;
            object-fit: cover;
        }

        .card_text {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 3px 15px 3px 15px;
            color: white;
                
            @media screen and (max-width:767px) {
                font-size: 14px;
              }

            .title {
                margin: 0;
                
            }

            .hover_text {
               display: none;
               color: aqua;
            }
        }
    } 

    .card:hover {
        border: 2px solid aqua;
        .hover_text{
            display: flex;
            gap: 10px;
            align-items: baseline;
        }
    }
}

@keyframes card-animation {
    to {
      opacity: 1;
      transform: translateX(0);

    }
  }