.collapse {
    margin: 45px 0 45px 0;

    .collapse-header {
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
        align-items: baseline;
        background: aqua;
    }

    .collapse-content {

    }
}