.collapse {
    padding: 45px 0 45px 0;
    display: flex;
    justify-content: center;
    margin: 20px;

    .collapse-header {
        cursor: pointer;
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
        align-items: baseline;
        background: #66d9ed;
        border-radius: 5px;
        width: 500px;
        color: white;
        font-size: 20px;
    }

    .collapse-header:hover {
        box-shadow: 10px 5px 5px aqua;
        background-color: aqua;
        font-weight: 600;
        font-size: 20px;
    }

    .collapse-content {}
}