.content_footer {
    width: 100%;
    background: radial-gradient(circle, rgb(42 69 78) 28%, rgb(37 81 86) 51%, rgba(42, 46, 47, 1) 100%);
    color: white;

    .top_button {
        position: relative;
        left: 48%;
        top: -23px;
        border-radius: 50%;
        border: 0 solid;
        background: rgb(42 69 78);
        width: 70px;
        height: 60px;
        text-align: center;

        @media screen and (max-width:767px) {
            left: 41%;
            height: 50px;
            margin-bottom: -14px;
        }

        a {
            color: white;
            font-size: xx-large;
        }
    }

    .top_button:hover {
        transform: translateY(-7px);

        .top {
            color: aqua;
        }
    }

    .footer_links {
        display: flex;
        justify-content: center;
        gap: 20px;

        a {
            color: white;

            :hover {
                font-size: 25px;
                font-weight: 800;
            }
        }
    }

    .footer_text {
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap: 10px;

        @media screen and (max-width:767px) {
            font-size: 14px;
        }
    }
}