.content_footer {
    width: 100%;
    background: darkcyan;
    color: white;

    .top_button {
        position: relative;
        left: 47%;
        top: -23px;
        border-radius: 50%;
        border: 0 solid;
        background: darkcyan;
        width: 70px;
        height: 60px;
        text-align: center;

        :hover {
            transform: translateY(10px); 
           }

        a {
            color: white;
            font-size: xx-large;
        }
    }
    
    

    .footer_links {
        display: flex;
        justify-content: center;
        gap: 20px;

        a {
            color: white;
        }
    }

    .footer_text {
        display: flex;
        justify-content: center;
        align-items: baseline;
        gap: 10px;
    }
}