:root {
  --main-color: aqua;
}

#contact {
  margin: 45px 0 56px 0;
  padding-top: 20px;
  width: 100%;
  background: #1e7676;

  .form_title {
    margin-left: 131px;
    font-size: 36px;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color), #a9d2e8);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -35rem 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
    position: relative;
    width: 34.8rem;
  }

  .form_title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
  }

  .form_subtitle {
    margin-left: 179px;
    // color: deepskyblue;
    color: #e4efef;
    font-size: 24px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-bottom: 35px;

    .form_fields {
      display: flex;
      flex-direction: column;
      width: 30%;
      color: #e4efef;
      font-weight: 600;
      font-size: 18px;



      input {
        border-radius: 6px;
        height: 20px;
        border: 0;

      }

      input:hover {
        font-size: 16px;
      }

      .error_name,
      .error_email {
        color: red;
        font-size: 14px;
        font-weight: 600;
      }
    }

    .form_message_field {
      display: flex;
      flex-direction: column;
      width: 30%;
      color: #e4efef;
      font-weight: 600;
      font-size: 18px;



      .message {
        border-radius: 6px;
        height: 100px;
      }

      .message:hover {
        font-size: 16px;
      }
    }


    .buttons {
      display: flex;
      gap: 20px;

      .button {
        cursor: pointer;
        width: 76px;
        border-radius: 8px;
        margin-top: 20px;
        background: aqua;
        padding: 4px;
        border: 1px solid aqua;
        // color: darkslategrey;
        color: #e4efef;
        font-weight: 600;
        font-size: 18px;
      }

      .button:hover {
        box-shadow: 3px 3px 3px aqua;
        background-color: aqua;
        width: 70px;
        font-weight: 800;
        font-size: 18px;
        // text-shadow: #240316;
      }
    }
  }
}


@keyframes homeCursorText {

  0%,
  10%,
  100% {
    width: 0;
  }

  65%,
  78%,
  85% {
    width: 100%;
    opacity: 1;
  }

  75%,
  81% {
    opacity: 0;
  }
}

@keyframes homeBgText {

  0%,
  10%,
  100% {
    background-position: -35rem 0;
  }

  65%,
  85% {
    background-position: 0 0;
  }
}