#contact {
    margin: 20px;
    padding: 1px 5px 20px 20px;
    width: 30%;
    background: darkgray;

    .form {


        .content_form {
            display: flex;
            flex-direction: column;
            width: 50%;
            line-height: 30px;
        }

        .button {

        }
    }
}