$breakpoints: (
    mobile: 767px,
    tablet-min: 768px,
    tablet-max: 992px,
    desktop: 1440px,
);

@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin tablet-only {
    @media screen and (max-width: map-get($breakpoints, tablet-max)) and (min-width: map-get($breakpoints, tablet-min)) {
        @content;
    }
}

@mixin desktop-only {
    @media screen and (max-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

#skills {
    margin-top: 50px;

    .skills_title {
        font-size: 30px;
        text-align: center;
        color: aqua;

        @media screen and (max-width:767px) {
            font-size: 24px;
          }

          @media screen and (min-width:768px) and (max-width:992px) {
        font-size: 26px;
        }
    }

    .skills {
       // display: flex;
       // flex-direction: column;
        align-items: center;
       // gap: 20px;
        margin-bottom: 25px;
        margin-top: 25px;
       // width: 50%;
        animation: defil 10s infinite linear;

        @include mobile-only {
            margin-left: 4em;
            width: 35%;
        }

        .content_skills {
           // display: flex;
           // gap: 20px;

            .icon_skill {
                object-fit: contain;
                width: 100px;
                height: 100px;
            }
        }
    }
}


@keyframes defil {
    0% {
        transform: translateX(0);
        /* position initiale à droite */
    }

    100% {
        transform: translateX(-520px);
        /* position finale à gauche */
    }
}

.border {
    margin-top: 1em;
}