.modal_form {
    z-index: 1;
    position: absolute;
    background: #ede8ea;
    width: 408px;
    height: 60px;
    border-radius: 15px;
    border: 1px solid seagreen;
    left: 50%;
    bottom: -562%;
    transform: translate(-50%, -50%);

    @media screen and (max-width:767px) {
        width: 256px;
        bottom: -2577px;
        height: 53px;
    }

    .close_modal {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        border: 0 solid;
        background: #ede8ea;
        font-size: unset;
        color: darkslategrey;

        @media screen and (max-width:767px) {
            font-size: 14px;
            top: 6px;
            right: 6px;
        }
    }

    .message_sent {
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 10px;
        font-size: 20px;
        text-align: center;
        color: seagreen;

        @media screen and (max-width:767px) {
            font-size: 14px;
        }
    }
}